<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="/static/assets/favicon.ico" type="image/x-icon">
  <link rel="canonical" href="https://appseed.us/adminlte"/>

  <title>
    SIM UMKM - {% block title %}{% endblock %} | Kecamatan Playen
  </title> 

  <!-- Specific Page CSS goes HERE  -->  
  {% block stylesheets %}{% endblock stylesheets %}

</head>
<body class="hold-transition {% block body_class %}{% endblock body_class %}">

  {% block content %}{% endblock content %}

  <!-- Specific Page JS goes HERE  -->
  {% block javascripts %}{% endblock javascripts %}

  <!-- Sweet Alert -->
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script>
  function notifikasi(title, text, type, confirmButtonText) {
    Swal.fire({
      title: title,
      text: text,
      icon: type,
      confirmButtonText: confirmButtonText
    })
  }
</script>

</body>
</html>
