{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Element injected in the BODY element -->
{% block body_class %} sidebar-mini {% endblock body_class %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<!-- LEAFLET -->
<style>
  .det-produk{
    border: 1px solid rgb(136, 136, 136);
  }
  .body-produk{
    padding:4px;
  }
  .footer-produk{
    border-top: 1px solid rgb(136, 136, 136);
    padding: 4px;
  }
</style>
{% endblock stylesheets %}

{% block content %}
  <div class="content-wrapper">
    <section class="content">
      <div class="container-fluid">
        <div class="row">
            <div class="card" style="width: 100%;">
              <div class="card-header border-0">
                <div class="d-flex justify-content-between">
                  <h3 class="card-title"></h3>
                </div>
              </div>
              <div class="card-body">
                <div id="map" style="width: 100%; height: 450px;"></div>
              </div>
            </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
  </div>
<div class="modal" id="modal_detailmarker" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">DETAIL DATA UMKM</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="body_detailmarker">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success"><i class="fas fa-paper-plane fa-fw"></i>
          MENUJU LOKASI</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fas fa-ban fa-fw"></i>
          TUTUP</button>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="http://maps.google.com/maps/api/js?key={{gmaps_api}}" type="text/javascript"></script>
<script>
  var locations = [
    {% for row in data_umkm %}
    [{{row.dataumkm_id}}, "{{row.nama_usaha}}", {{row.koordinat}}],
    {% endfor %}
  ];
  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 12,
    center: new google.maps.LatLng(-7.9422437, 110.5474553),
    mapTypeId: google.maps.MapTypeId.ROADMAP
  });
  var infowindow = new google.maps.InfoWindow();
  var marker, i;
  var icon_umkm = {
    url: "/static/assets/img/icon_umkm.png", // url
    scaledSize: new google.maps.Size(25, 25), // scaled size
    origin: new google.maps.Point(0,0), // origin
    anchor: new google.maps.Point(0, 0) // anchor
};
  for (i = 0; i < locations.length; i++) {  
    marker = new google.maps.Marker({
      position: new google.maps.LatLng(locations[i][2], locations[i][3]),
      map: map,
      icon:icon_umkm
    });
    google.maps.event.addListener(marker, 'click', (function(marker, i) {
      return function() {
        infowindow.setContent(locations[i][1]);
        infowindow.open(map, marker);
        detailumkm(locations[i][0]);
      }
    })(marker, i));

    google.maps.event.addListener(marker, 'mouseover', (function(marker, i) {
      return function() {
        infowindow.setContent(locations[i][1]);
        infowindow.open(map, marker);
      }
    })(marker, i));

    google.maps.event.addListener(marker, 'mouseout', (function(marker, i) {
      return function() {
        infowindow.close();
      }
    })(marker, i));
  }
  function detailumkm(id) {
    $.ajax({
      url: '/getdetailmarker/'+id,
      type: 'GET',
      dataType: 'html',
    })
    .done(function(respon) {
      $("#body_detailmarker").html(respon);
      $("#modal_detailmarker").modal("show");
    })
    .fail(function(jqXHR, exception) {
      $("#body_detailmarker").html("");
      $("#modal_detailmarker").modal("show");
    });
  }
</script>
{% endblock javascripts %}
