{% extends "layouts/base.html" %}
{% load humanize %}

{% block title %} Setting Users {% endblock %}

<!-- Element injected in the BODY element -->
{% block body_class %} sidebar-mini {% endblock body_class %}

{% block stylesheets %}
<!-- DataTables -->
<link rel="stylesheet" href="/static/assets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="/static/assets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
{% endblock stylesheets %}


{% block content %}
<div class="content-wrapper">
  <!-- Main content -->
  <section class="content">
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-12">
            <center>
              <h1 class="m-0">DATA PRODUK</h1>
            </center>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <div class="container-fluid">
      <div class="row">
        <section class="col-sm-12">
          <div class="card">
            <div class="card-header border-0">
              <div class="d-flex justify-content-between">
                <h3 class="card-title"></h3>
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                <section class="col-sm-12">
                  <form class="form-horizontal" action="" method="post">
                    {% csrf_token %}
                    <div class="card-body">
                      <div class="form-group row">
                        <label for="search_umkm" class="col-sm-3 col-form-label">UMKM</label>
                        <div class="col-sm-6">
                          <select class="custom-select select2" id="search_umkm" name="search_umkm">
                            <option value="">== Silahkan Pilih ==</option>
                            {% for c_umkm in data_umkm %}
                            <option value="{{c_umkm.dataumkm_id}}">{{c_umkm.nama_usaha}}</option>
                            {%endfor%}
                          </select>
                        </div>
                        <div class="col-sm-3" style="display:none;">
                          <button id="btn_caridata" type="submit" href="#" class="btn btn-primary btn-sm mt-1"><i class="fas fa-search fa-fw"></i> TAMPILKAN DATA</button>
                        </div>
                      </div>
                    </div>
                  </form>
                </section>
              </div>
              <a class="btn btn-primary btn-sm" style="margin-bottom:20px;" onclick="tambahdata()"><i class="fas fa-plus fa-fw"></i> Tambah Data</a>
              <table id="dt_users" class="table table-bordered">
                <thead>
                  <tr>
                    <th width="30"><center>NO</center></th>
                    <th><center>NAMA USAHA</center></th>
                    <th><center>NAMA PRODUK</center></th>
                    <th><center>GAMBAR</center></th>
                    <th><center>HARGA</center></th>
                    <th width="100"><center>STATUS</center></th>
                    <th width="100"><center>AKSI</center></th>
                  </tr>
                </thead>
                <tbody>
                  {% for row in data_produk %}
                  <tr>
                    <td>{{forloop.counter}}</td>
                    <td align="center">{{row.nama_usaha}}</td>
                    <td align="center">{{row.namaproduk}}</td>
                    <td align="center">
                      {% if row.foto != "" %}
                        <a onclick="lihatgambar({{row.produk_id}})" type="button" class="btn btn-block btn-primary btn-xs">Lihat Gambar</a>
                      {% else %}
                        <b>No File</b>
                      {% endif %}
                    </td>
                    <td align="center">
                      {% if row.harga != "" %}
                        Rp {{ row.harga|stringformat:'0.0f'|intcomma }}
                      {% endif %}
                    </td>
                    <td align="center">
                      {% if row.status == "T" %}
                        <small class="badge badge-success">Tampil di Peta</small>
                      {% else %}
                        <small class="badge badge-danger">Tidak Tampil di Peta</small>
                      {% endif %}
                    </td>
                    <td align="center">
                      <a class="btn btn-success btn-sm" onclick="edit({{row.produk_id}})"><i class="fas fa-edit fa-fw"></i></a>
                      <a class="btn btn-danger btn-sm" onclick="hapus({{row.produk_id}})"><i class="fas fa-trash fa-fw"></i></a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </section>
      </div>
    </div>
  </section>
  <!-- /.content -->
</div>

<div class="modal" id="modal_dataproduk" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">FORM DATA PRODUK</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" id="form_dataproduk">
          <div class="card-body">
            <div class="form-group row">
              <label for="dataproduk_umkm" class="col-sm-3 col-form-label">UMKM <i class="label_form_required">*</i></label>
              <div class="col-sm-9">
                <select disabled class="custom-select select2" id="dataproduk_umkm" name="dataproduk_umkm" style="width:100%">
                  <option value="">== Silahkan Pilih ==</option>
                  {% for cf_umkm in data_umkm %}
                  <option value="{{cf_umkm.dataumkm_id}}">{{cf_umkm.nama_usaha}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="dataproduk_namaproduk" class="col-sm-3 col-form-label">NAMA PRODUK <i class="label_form_required">*</i></label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="dataproduk_namaproduk" name="dataproduk_namaproduk"
                  placeholder="Masukkan Nama Produk">
              </div>
            </div>
            <div class="form-group row">
              <label for="dataproduk_keterangan" class="col-sm-3 col-form-label">KETERANGAN <i class="label_form_required">*</i></label>
              <div class="col-sm-9">
                <textarea class="form-control" placeholder="Masukkan Keterangan" id="dataproduk_keterangan" rows="5"></textarea>
              </div>
            </div>
            <div class="form-group row">
              <label for="dataproduk_harga" class="col-sm-3 col-form-label">HARGA <i class="label_form_required">*</i></label>
              <div class="col-sm-9">
                <input type="number" class="form-control" id="dataproduk_harga" name="dataproduk_harga"
                  placeholder="Masukkan Harga">
              </div>
            </div>
            <div class="form-group row">
              <label for="dataproduk_gambar" class="col-sm-3 col-form-label">GAMBAR</label>
              <div class="col-sm-9">
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="dataproduk_gambar" name="dataproduk_gambar">
                  <label class="custom-file-label" id="lbl-gambar" for="dataproduk_gambar">Pilih Gambar Produk</label>
                  <input type="text" id="dataproduk_gambar_edit" name="dataproduk_gambar_edit" style="display:none">
                  <div id="gambar_sebelumnya"></div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="dataproduk_status" class="col-sm-3 col-form-label">STATUS <i class="label_form_required">*</i></label>
              <div class="col-sm-9">
                <select class="custom-select" id="dataproduk_status" name="dataproduk_status">
                  <option value="">== Silahkan Pilih ==</option>
                  <option value="T">Tampil di Peta </option>
                  <option value="F">Tidak Tampil di Peta</option>
                </select>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-ban fa-fw"></i>
          BATAL</button>
        <button type="button" class="btn btn-success" onclick="simpan()"><i class="fas fa-save fa-fw"></i> SIMPAN</button>
      </div>
    </div>
  </div>
</div>


<div class="modal" id="modal_gambar" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">LIHAT GAMBAR</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="body_modalgambar">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fas fa-ban fa-fw"></i>TUTUP</button>
      </div>
    </div>
  </div>
</div>

{% endblock content %}


<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<!-- DataTables -->
<script src="/static/assets/plugins/jquery-validation/jquery.validateLast.min.js"></script>
<script src="/static/assets/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/static/assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/static/assets/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/static/assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script>
   $( document ).ready(function() {
    window.cmd = "tambah";
    window.id = "";
    $("#search_umkm").select2("val","{{search_umkm}}");
    $('#search_umkm').select2().val({{search_umkm}})
    $('#search_umkm').select2().val()
    $(document.body).on("change","#search_umkm",function(){
      $("#btn_caridata").click();
    });

    $('#dataproduk_gambar').on('change',function(){
        //get the file name
        var fileName = $(this).val();
        //replace the "Choose a file" label
        $(this).next('.custom-file-label').html(fileName);
    })
    validateForm();
  });
  $("#dt_users").DataTable({
    "responsive": true,
    "autoWidth": false,
  });
  function validateForm(){
    $("#form_dataproduk").validate({
      rules: {
        dataproduk_umkm: "required",
        dataproduk_namaproduk: "required",
        dataproduk_keterangan: "required",
        dataproduk_harga: "required",
        dataproduk_status: "required",
      },
      messages:{
        dataproduk_umkm: "Mohon pilih data UMKM",
        dataproduk_namaproduk: "Mohon isikan nama produk",
        dataproduk_keterangan: "Mohon isikan keterangan produk",
        dataproduk_harga: "Mohon isikan harga prouk",
        dataproduk_status: "Mohon pilih status produk",
      },
      submitHandler: function() {
        doSimpan();
      }
    });
  }
  function resetForm(){
    $("#dataproduk_umkm").val("");
    $("#dataproduk_namaproduk").val("");
    $("#dataproduk_keterangan").val("");
    $("#dataproduk_harga").val("");
    $("#dataproduk_gambar").val("");
    $("#dataproduk_status").val("");
    $("#gambar_sebelumnya").hide();
    $("#form_dataproduk").validate().resetForm();
  }
  function tambahdata() {
    window.cmd = "tambah";
    window.id = "";
    resetForm();
    if($("#search_umkm").select2("val")!=""){
      $("#dataproduk_umkm").val({{search_umkm}});
      $("#dataproduk_umkm").select2("val","{{search_umkm}}");
      $('#dataproduk_umkm').select2().val({{search_umkm}})
      $('#dataproduk_umkm').select2().val()


      $("#lbl-gambar").html("Pilih Gambar Produk");
      $("#modal_dataproduk").modal("show");
    }else{
      notifikasi('Informasi', "Mohon pilih UMKM terlebih dahulu untuk menambahkan data produk", "error", "OK")
    }
  }
  function lihatgambar(id){
    $.ajax({
      url: '/admn/getdetailproduk/'+id,
      type: 'GET',
    })
    .done(function(respon) {
      if(respon.item.foto!=""){
        $("#body_modalgambar").html('<center><img src="'+respon.item.foto+'" style="max-height:400px" /></center>')
      }
      $("#modal_gambar").modal("show");
    })
    .fail(function(jqXHR, exception) {
      notifikasi('Gagal', "Gagal mendapatkan data Produk", "error", "OK")
    });
  }
  function edit(id) {
    window.cmd = "edit";
    window.id = id;
    resetForm();
    $.ajax({
      url: '/admn/getdetailproduk/'+id,
      type: 'GET',
    })
    .done(function(respon) {
      $("#dataproduk_umkm").val(respon.item.dataumkm_id);
      $("#dataproduk_umkm").select2("val","respon.item.dataumkm_id");
      $('#dataproduk_umkm').select2().val(respon.item.dataumkm_id)
      $('#dataproduk_umkm').select2().val()

      $("#dataproduk_namaproduk").val(respon.item.namaproduk);
      $("#dataproduk_keterangan").val(respon.item.deskripsi);
      $("#dataproduk_harga").val(parseInt(respon.item.harga));
      $("#dataproduk_gambar_edit").val(respon.item.foto);
      $("#dataproduk_status").val(respon.item.status);

      if(respon.item.foto!=""){
        $("#lbl-gambar").html("Ganti Gambar Produk");
        $("#gambar_sebelumnya").show();
        $("#gambar_sebelumnya").html('<a href="'+respon.item.foto+'" target="_blank">Lihat Gambar</a>');
      }else{
        $("#lbl-gambar").html("Pilih Gambar Produk");
        $("#gambar_sebelumnya").hide();
      }

      $("#modal_dataproduk").modal("show");
    })
    .fail(function(jqXHR, exception) {
      notifikasi('Gagal', "Gagal mendapatkan data Produk", "error", "OK")
    });
  }
  function simpan(){
    $("#form_dataproduk").submit();
  }
  function doSimpan() {
    if (window.cmd == "tambah" || window.cmd == "edit"){
      var gambar = $('input[name="dataproduk_gambar"]').get(0).files[0];
      var formData = new FormData();
      formData.append('gambar', gambar);
      formData.append('umkm', $("#dataproduk_umkm").val());
      formData.append('nama_produk', $("#dataproduk_namaproduk").val());
      formData.append('keterangan', $("#dataproduk_keterangan").val());
      formData.append('harga', $("#dataproduk_harga").val());
      formData.append('status', $("#dataproduk_status").val());
      formData.append('gambar_edit', $("#dataproduk_gambar_edit").val());

      var url = "";
      var type = "";
      if(window.cmd == "tambah"){
        var url = "/admn/produk";
        var type = "POST";
      }else{
        var url = "/admn/updateproduk/"+window.id;
        var type = "POST";
      }
      $.ajax({
        url: url,
        type: type,
        data: formData,
        contentType: false,
        processData: false,
        cache: false,
      })
      .done(function(respon) {
        notifikasi('Sukses', "Data Produk Berhasil Disimpan", "success", "OK")
        $("#modal_dataproduk").modal("hide");
        setTimeout(window.location.reload(), 4000);
      })
      .fail(function(jqXHR, exception) {
        notifikasi('Gagal', "Data Produk Gagal Disimpan", "error", "OK")
      });
    }else{
      notifikasi('Gagal', "Invalid Method", "error", "OK")
    }
  }
  function hapus(id) {
    window.cmd = "hapus";
    window.id = id;
    Swal.fire({
      title: 'Apakah anda yakin akan menghapus data ini?',
      showDenyButton: true,
      showCancelButton: false,
      confirmButtonText: 'Hapus',
      denyButtonText: `Batal`,
    }).then((result) => {
      if (result.isConfirmed) {
        $.ajax({
          url: "/admn/deleteproduk/"+id,
          type: 'DELETE',
        })
        .done(function(respon) {
          notifikasi('Sukses', "Data Produk Berhasil Dihapus", "success", "OK")
          setTimeout(window.location.reload(), 4000);
        })
        .fail(function(jqXHR, exception) {
          notifikasi('Gagal', "Data Produk Gagal Dihapus", "error", "OK")
        });
      }
    })
  }
</script>
{% endblock javascripts %}