{% extends "layouts/base.html" %}

{% block title %} Setting Users {% endblock %}

<!-- Element injected in the BODY element -->
{% block body_class %} sidebar-mini {% endblock body_class %}

{% block stylesheets %}
<!-- DataTables -->
<link rel="stylesheet" href="/static/assets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="/static/assets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
{% endblock stylesheets %}


{% block content %}
<div class="content-wrapper">
  <!-- Main content -->
  <section class="content">
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-12">
            <center>
              <h1 class="m-0">SETTING USERS</h1>
            </center>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <div class="container-fluid">
      <div class="row">
        <section class="col-sm-12">
          <div class="card">
            <div class="card-header border-0">
              <div class="d-flex justify-content-between">
                <h3 class="card-title"></h3>
              </div>
            </div>
            <div class="card-body">
              <a class="btn btn-primary btn-sm" style="margin-bottom:20px;" onclick="tambahdata()"><i class="fas fa-plus fa-fw"></i> Tambah Data</a>
              <table id="dt_users" class="table table-bordered">
                <thead>
                  <tr>
                    <th width="30"><center>NO</center></th>
                    <th><center>NAMA</center></th>
                    <th><center>USERNAME</center></th>
                    <th><center>ROLE</center></th>
                    <th><center>NO TELP</center></th>
                    <th><center>EMAIL</center></th>
                    <th><center>STATUS</center></th>
                    <th width="150"><center>AKSI</center></th>
                  </tr>
                </thead>
                <tbody>
                  {% for row in data_users %}
                  <tr>
                    <td>{{forloop.counter}}</td>
                    <td align="center">{{row.nama}}</td>
                    <td align="center">{{row.username}}</td>
                    <td align="center">{{row.role}}</td>
                    <td align="center">{{row.notelp}}</td>
                    <td align="center">{{row.email}}</td>
                    <td align="center">
                      {% if row.is_aktif == "T" %}
                        <small class="badge badge-success">Aktif</small>
                      {% else %}
                        <small class="badge badge-danger">Tidak Aktif</small><br />
                      {% endif %}
                    </td>
                    <td align="center">
                      <a class="btn btn-success btn-sm" onclick="edit({{row.user_id}})"><i class="fas fa-edit fa-fw"></i></a>
                      <a class="btn btn-danger btn-sm" onclick="hapus({{row.user_id}})"><i class="fas fa-trash fa-fw"></i></a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </section>
      </div>
    </div>
  </section>
  <!-- /.content -->
</div>

<div class="modal" id="modal_settinguser" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Form User</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="card-body">
            <div class="form-group row">
              <label for="user_nama" class="col-sm-3 col-form-label">NAMA</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="user_nama" name="user_nama" placeholder="Masukkan Nama">
              </div>
            </div>
            <div class="form-group row">
              <label for="user_username" class="col-sm-3 col-form-label">USERNAME</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="user_username" name="user_username" placeholder="Masukkan Username">
              </div>
            </div>
            <div class="form-group row">
              <label for="user_email" class="col-sm-3 col-form-label">EMAIL</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="user_email" name="user_email" placeholder="Masukkan Email">
              </div>
            </div>
            <div class="form-group row">
              <label for="user_password" class="col-sm-3 col-form-label">PASSWORD</label>
              <div class="col-sm-9">
                <input type="password" class="form-control" id="user_password" name="user_password" placeholder="Masukkan Password">
              </div>
            </div>
            <div class="form-group row">
              <label for="user_repassword" class="col-sm-3 col-form-label">ULANGI PASSWORD</label>
              <div class="col-sm-9">
                <input type="password" class="form-control" id="user_repassword" name="user_repassword" placeholder="Masukkan Password">
              </div>
            </div>
            <div class="form-group row">
              <label for="user_notelp" class="col-sm-3 col-form-label">NO TELEPON</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="user_notelp" name="user_notelp" placeholder="Masukkan Nomor Telepon">
              </div>
            </div>
            <div class="form-group row">
              <label for="user_role" class="col-sm-3 col-form-label">ROLE</label>
              <div class="col-sm-9">
                <select class="custom-select" id="user_role" name="user_role">
                  <option value="">== Silahkan Pilih ==</option>
                  {% for c_role in data_roles %}
                  <option value="{{c_role.role_id}}">{{c_role.nama}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="user_status" class="col-sm-3 col-form-label">STATUS</label>
              <div class="col-sm-9">
                <select class="custom-select" id="user_status" name="user_status">
                  <option value="">== Silahkan Pilih ==</option>
                  <option value="T">Aktif</option>
                  <option value="F">Tidak Aktif</option>
                </select>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-ban fa-fw"></i> BATAL</button>
        <button type="button" onclick="simpan()" class="btn btn-success"><i class="fas fa-save fa-fw"></i> SIMPAN</button>
      </div>
    </div>
  </div>
</div>

{% endblock content %}


<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<!-- DataTables -->
<script src="/static/assets/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/static/assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/static/assets/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/static/assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script>
  $( document ).ready(function() {
    window.cmd = "tambah";
    window.id = "";
  });
  $("#dt_users").DataTable({
    "responsive": true,
    "autoWidth": false,
  });
  function resetForm(){
    $("#user_nama").val("");
    $("#user_username").val("");
    $("#user_email").val("");
    $("#user_password").val("");
    $("#user_repassword").val("");
    $("#user_notelp").val("");
    $("#user_role").val("");
    $("#user_status").val("");
  }
  function tambahdata() {
    window.cmd = "tambah";
    window.id = "";
    resetForm();
    $("#modal_settinguser").modal("show");
  }
  function edit(id) {
    window.cmd = "edit";
    window.id = id;
    resetForm();
    $.ajax({
      url: '/admn/getdetailuser/'+id,
      type: 'GET',
      dataType: 'json',
    })
    .done(function(respon) {
      var item = respon.item;
      $("#user_nama").val(item.nama);
      $("#user_username").val(item.username);
      $("#user_email").val(item.email);
      $("#user_password").val("");
      $("#user_repassword").val("");
      $("#user_notelp").val(item.notelp);
      $("#user_role").val(item.role_id);
      $("#user_status").val(item.is_aktif);
      $("#modal_settinguser").modal("show");
    })
    .fail(function(jqXHR, exception) {
      notifikasi('Gagal', "Gagal mendapatkan data UMKM", "error", "OK")
    });
  }
  function simpan() {
    if (window.cmd == "tambah" || window.cmd == "edit"){
      var dataJson = JSON.stringify({
        nama : $("#user_nama").val(),
        username : $("#user_username").val(),
        email : $("#user_email").val(),
        password : $("#user_password").val(),
        repassword : $("#user_repassword").val(),
        notelp : $("#user_notelp").val(),
        role : $("#user_role").val(),
        status : $("#user_status").val(),
      });
      var url = "";
      var type = "";
      if(window.cmd == "tambah"){
        var url = "/admn/user";
        var type = "POST";
      }else{
        var url = "/admn/updateuser/"+window.id;
        var type = "PATCH";
      }
      $.ajax({
        url: url,
        type: type,
        contentType: "application/json; charset=utf-8",
        dataType: 'json',
        data: dataJson,
      })
      .done(function(respon) {
        notifikasi('Sukses', "Data User Berhasil Disimpan", "success", "OK")
        $("#modal_settinguser").modal("hide");
        setTimeout(window.location.reload(), 4000);
      })
      .fail(function(jqXHR, exception) {
        notifikasi('Gagal', "Data User Gagal Disimpan", "error", "OK")
      });
    }else{
      notifikasi('Gagal', "Invalid Method", "error", "OK")
    }
  }
  function hapus(id) {
    window.cmd = "hapus";
    window.id = id;
    Swal.fire({
      title: 'Apakah anda yakin akan menghapus data ini?',
      showDenyButton: true,
      showCancelButton: false,
      confirmButtonText: 'Hapus',
      denyButtonText: `Batal`,
    }).then((result) => {
      if (result.isConfirmed) {
        $.ajax({
          url: "/admn/deleteuser/"+id,
          type: 'DELETE',
        })
        .done(function(respon) {
          notifikasi('Sukses', "Data User Berhasil Dihapus", "success", "OK")
          setTimeout(window.location.reload(), 4000);
        })
        .fail(function(jqXHR, exception) {
          notifikasi('Gagal', "Data User Berhasil Dihapus", "error", "OK")
        });
      }
    })
  }
</script>
{% endblock javascripts %}