{% extends "layouts/base.html" %}

{% block title %} Setting Users {% endblock %}

<!-- Element injected in the BODY element -->
{% block body_class %} sidebar-mini {% endblock body_class %}

{% block stylesheets %}
<!-- DataTables -->
<link rel="stylesheet" href="/static/assets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="/static/assets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
{% endblock stylesheets %}


{% block content %}
<div class="content-wrapper">
  <!-- Main content -->
  <section class="content">
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-12">
            <center>
              <h1 class="m-0">VERIFIKASI DATA UMKM</h1>
            </center>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <div class="container-fluid">
      <div class="row">
        <section class="col-sm-12">
          <div class="card">
            <div class="card-header border-0">
              <div class="d-flex justify-content-between">
                <h3 class="card-title"></h3>
              </div>
            </div>
            <div class="card-body">
              <table id="dt_users" class="table table-bordered">
                <thead>
                  <tr>
                    <th width="30"><center>NO</center></th>
                    <th><center>USAHA</center></th>
                    <th><center>USER KLAIM</center></th>
                    <th width="150"><center>AKSI</center></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td align="center">AF STUDIO</td>
                    <td align="center">ahmadf</td>
                    <td align="center">
                      <a class="btn btn-success btn-sm" onclick="verifikasiumkm()"><i class="fas fa-check fa-fw"></i></a>
                      <a class="btn btn-danger btn-sm" onclick="tolakiumkm()"><i class="fas fa-ban fa-fw"></i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </section>
      </div>
    </div>
  </section>
  <!-- /.content -->
</div>

{% endblock content %}


<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<!-- DataTables -->
<script src="/static/assets/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/static/assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/static/assets/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/static/assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script>
  $("#dt_users").DataTable({
    "responsive": true,
    "autoWidth": false,
  });
  function verifikasiumkm() {
    Swal.fire({
      title: 'Apakah anda yakin akan memverifikasi data ini?',
      showDenyButton: true,
      showCancelButton: false,
      confirmButtonText: 'Verifikasi',
      denyButtonText: `Batal`,
    }).then((result) => {
      if (result.isConfirmed) {
        notifikasi('Sukses', "Data User Berhasil Diverifikasi", "success", "OK")
      }
    })
  }
  function verifikasiumkm() {
    Swal.fire({
      title: 'Apakah anda yakin akan memverifikasi data ini?',
      showDenyButton: true,
      showCancelButton: false,
      confirmButtonText: 'Verifikasi',
      denyButtonText: `Batal`,
    }).then((result) => {
      if (result.isConfirmed) {
        notifikasi('Sukses', "Data User Berhasil Diverifikasi", "success", "OK")
      }
    })
  }
  function tolakiumkm() {
    Swal.fire({
      title: 'Apakah anda yakin akan menolak data ini?',
      showDenyButton: true,
      showCancelButton: false,
      confirmButtonText: 'Tolak',
      denyButtonText: `Batal`,
    }).then((result) => {
      if (result.isConfirmed) {
        notifikasi('Sukses', "Data User Berhasil Ditolak", "success", "OK")
      }
    })
  }
</script>
{% endblock javascripts %}