  <!-- /.content-wrapper -->
  <footer class="main-footer">
    &copy; <a rel="noopener noreferrer" href="#">SIM UMKM</a>
    <a href="https://drive.google.com/file/d/127TYdjLO8M8RAkgQVKmLrxXJIEuBUA0B/view?usp=sharing" target="_blank" type="button" class="btn btn-sm btn-success"><i class="fas fa-download fa-fw"></i>
          Download APK Mobile</a>
    <div class="float-right d-none d-sm-inline-block">
      <a rel="noopener noreferrer" 
          href="#">GIS UMKM Kecamatan Playen</a> 
    </div>
  </footer>
